Repository Swartdraak/WinServer-Toolkit, changes with the labels that .github/labeler.yml gives for each.
All labels: area/archetypes, area/security, area/bootstrap, type/tests, type/docs

.github/labeler.yml:

area/archetypes:
  - 'archetypes/**'
  - 'scripts/roles/**'

area/security:
  - 'docs/Security.md'
  - 'data/baselines/**'
  - 'data/baselines/stig/**'
  - 'lib/**'

area/bootstrap:
  - 'scripts/entrypoints/**'
  - '.github/**'

type/tests:
  - 'tests/**'

type/docs:
  - 'docs/**'
  - '**/*.md'

Refactor CODEOWNERS, update CONTRIBUTING.md with wiki guidelines, enhance README with quick links, and add LICENSE file
  .github/CODEOWNERS
  CODEOWNERS
  CONTRIBUTING.md
  LICENSE
  README.md
  scripts/generate-id.ps1
Labels: area/bootstrap, type/docs

Enhance documentation and CI workflows: add local checks, update LICENSE, and implement wiki linting scripts
  .editorconfig
  .github/ISSUE_TEMPLATE/docs.md
  .github/SECURITY.md
  .github/dependabot.yml
  .github/release-drafter.yml
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wiki-lint.yml
  CONTRIBUTING.md
  LICENSE
  README.md
  reports/wiki-lint.csv
  scripts/README-WIKI-LINT.md
  scripts/wiki-lint.ps1
  scripts/wiki-report-summary.ps1
Labels: area/bootstrap, type/docs

inc1: add/validate archetypes catalog, settings.example.json, and settings.schema.json (MVP)
  archetypes/catalog.json
  config/settings.example.json
  config/settings.schema.json
Labels: area/archetypes

inc1: add Common helper utilities and test harness; atomic write, JSON checks, catalog helpers
  lib/Common.psm1
  scripts/tools/test-CommonHelpers.ps1
Labels: area/security

inc1: finalize exhaustive catalog and settings; add Common helpers, tests, and JSON validators
  archetypes/catalog.json
  config/settings.example.json
  config/settings.schema.json
  scripts/tools/validate-json.ps1
Labels: area/archetypes

Add PowerShell scaffolds for roles and setup
  roles/role-dc.ps1
  roles/role-wsus.ps1
  scripts/entrypoints/Setup-Template.ps1
  scripts/tools/parse-check.ps1
  scripts/tools/parse-check2.ps1
  tests/Unit/SchemaStrictness.Tests.ps1
Labels: area/bootstrap, type/tests
